

body{
    margin: 0;
    background-color: #7f968e;
    /* background-color: #8b8989; */
}

header{
    background-color: #1bb0ba;
    color: rgb(255, 255, 255);
    padding: 10px;
}

header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
}


/* recuerdos */

.recuerdos{
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.recuerdos img{
    display: block;
    margin: 0 auto;
}




section.recuerdos article.post:hover{
    box-shadow: 0 0.1rem 2rem rgb(230, 230, 121);


}

section.recuerdos article.post{
    transition:box-shadow 0.3s ease;
    background-color: #7878f1;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

section.recuerdos article.post h2{
    margin: 5px 0;
}

/*datos de toda la wed*/
.datos
{
    text-align: left;
}



/*juntos*/

.junto img{
    display: block;
    margin: 0 auto;
}

section.juntos article.junto
{
    transition:box-shadow 0.3s ease;
    background-color: #83977f;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}


section.juntos article.junto:hover{

    box-shadow: 0 0.1rem 2rem rgb(160, 65, 158);


}

section.juntos article.junto h2{

    margin: 5px 0;

}

.juntos{

    text-align: center;
    width: 400px;
    margin: 0 auto;
}


/*titus*/

 .titu{
  font-family: "Playwrite AU VIC Guides", cursive;
  font-weight: 400;
  font-style: normal;
}

.titu{

    text-align: center;   
}

.titudefondo{

    color: white;
    text-align: center;
}



/* mejores momentos */

section.mejoresm article.m {

    transition:box-shadow 0.3s ease;
    background-color: #68929b;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px ;
    padding:5px;
    cursor: pointer;

}

section.mejoresm article.m:hover{

    box-shadow: 0 0.1rem 2rem rgb(0, 179, 255);


}

section.mejoresm article.m h2{

    margin: 5px 0;
}

.mejoresm{

    text-align: center;
    width: 400px;
    margin: 0 auto;
}

/* cartas */


section.cartas article.carta{

    transition:box-shadow 0.3s ease;
    background-color: #6fdce096;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}



section.cartas article.carta:hover{

     box-shadow: 0rem 0rem 4rem rgb(255, 0, 0);
}

section.cartas article.carta h2{

    margin: 5px 0;
}

.cartas{

    font-size: 15px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

/*en la playa*/

section.playa article.enplaya{

    transition:box-shadow 0.3s ease;
    background-color: #6fdce096;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

section.playa article.enplaya:hover{

    box-shadow: 0rem 0rem 4rem rgb(255, 0, 0);
}

section.playa article.enplaya h2{

    margin: 5px 0;

}

.playa{

    text-align: center;
    width: 400px;
    margin: 0 auto;
}



/*videos*/



/*ENLACES*/

section.volver a{
    text-decoration: none;
    color: white;
    background-color: #1b78ba;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

section.volver{
    
     text-align: center;
    width: 400px;
    margin: 0 auto;

}

section.volver a:hover{
    box-shadow: 0rem 0rem 3rem rgb(41, 144, 175);
}

/*ZOOMmorado*/


section.ZOOMmorado a{
    text-decoration: none;
    color: white;
    background-color: #1b4bba;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

section.ZOOMmorado{
    
     text-align: center;
    width: 400px;
    margin: 0 auto;

}

section.ZOOMmorado a:hover{
    box-shadow: 0rem 0rem 3rem rgb(41, 144, 175);
}

/*ZOOMverdecafe*/


section.ZOOMverdecafe a{
    text-decoration: none;
    color: white;
    background-color: #4f611d;
    padding: 5px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

section.ZOOMverdecafe{
    
     text-align: center;
    width: 400px;
    margin: 0 auto;

}

section.ZOOMverdecafe a:hover{
    box-shadow: 0rem 0rem 3rem rgb(41, 144, 175);
}



/* footer*/

footer{

    transition:box-shadow 0.3s ease;
     background-color: #1b78ba;
     color: white;
     margin: 10px;
     padding: 10px;
    text-align: left;
     border-radius: 100px;
     

}

footer:hover{

    box-shadow: 0rem 0rem 3rem rgb(41, 144, 175);

}